

footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

footer .side {
  align-items: center;
  gap: 16px;
  display: flex;
}

.footer-sm {
  gap: 16px;
  list-style: none;
  display: flex;
}

.footer-name {
  margin-bottom: 0;
  font-weight: bold;
}

.footer-rights {
  margin-top: 0;
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}