@import url(navigation.css);
@import url(typography.css);
@import url(footer.css);

:root {
    font-family: 'Poppins', sans-serif;
   --gap: 50px;


}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 20px;
}

.btn {
  all: unset;
  box-sizing: border-box;
  outline: revert;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: transform .18s, opacity .18s;
  display: inline-block;
}

.btn:hover {
  opacity: .8;
}

.btn:active {
  transform: translate(1px, 1px);
}

.btn--nav {
  color: var(--text-color);
  opacity: .7;
  padding: 12px;
}

.btn--nav:hover {
  opacity: 1;
}

.blog-main {
  gap: var(--gap);
  grid-template-columns: 300px 1fr;
  margin-bottom: 100px;
  display: grid;
}


